@model IEnumerable<Hotel_Management_Project.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dept_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dept_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dept_id)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.dept_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Dept_id }) |

            @Html.ActionLink("Delete", "Delete", new { id = item.Dept_id })
        </td>
    </tr>
}

</table>
