@model IEnumerable<Hotel_Management_Project.Models.Guest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.guest_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.guest_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.guest_gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.guest_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.guest_contact_num)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.guest_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.guest_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.guest_gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.guest_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.guest_contact_num)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.guest_id }) |
            
            @Html.ActionLink("Delete", "Delete", new { id=item.guest_id })
        </td>
    </tr>
}

</table>
