@model Hotel_Management_Project.Models.Reservation

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@Html.Raw(TempData["Failed"])

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Reservation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.no_of_adults, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.no_of_adults, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.no_of_adults, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.no_of_child, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.no_of_child, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.no_of_child, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.checkin_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <input type="date" name="check_in" value="DateTime.Now()" min="DateTime.Now()" />

                @Html.ValidationMessageFor(model => model.checkin_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.LabelFor(model => model.checkout_date, htmlAttributes: new { @class = "control-label col-md-2" })
                <input type="date" name="check_out" value="DateTime.Now()" min="DateTime.Now()" />

                @Html.ValidationMessageFor(model => model.checkout_date, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.room_id, "Room_Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.room_id, ViewBag.Room_Type as SelectList, "--Select_Available_Rooms--")
                @Html.ValidationMessageFor(model => model.room_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.guest_id, "Guest_Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.guest_id, ViewBag.Guest_Name as SelectList, "--Select_Available_Guest--")

                @Html.ValidationMessageFor(model => model.guest_id, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.rec_id, "Recep_name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.rec_id, ViewBag.Recep_Name as SelectList, "--Select_Available_--Recep")
                @Html.ValidationMessageFor(model => model.rec_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
